$cor-primary: #007BFF;
$cor-secundary: #6c757d;
$cor-danger: #dc3545;


@mixin botao-estilo($padding) {

    color: #fff;
    border: none;
    border-radius: 4px;
    padding: $padding;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

@mixin botao-estilo-cor($cor-fundo) {
    background-color: $cor-fundo;

    &:hover {
        background-color: darken($cor-fundo, 10%);

    }
}


.btn {
    &.small {
        @include botao-estilo(8px 12px, #007BFF);
    }

    &.medium {
        @include botao-estilo(12px 16px, #6c757d);
    }

    &.large {
        @include botao-estilo(16px 20px, #dc3545);
    }
}


&.primary{
    @include botao-estilo-cor($cor-primary);
}

&.secundary{
    @include botao-estilo-cor($cor-secundary);
}

&.danger{
    @include botao-estilo-cor($cor-danger);
}